# Godot 4+ specific ignores
.godot/
/android/
assets/fonts/OFL.txt
assets/fonts/README.txt
assets/fonts/Sour_Gummy.zip
assets/fonts/SourGummy-Italic-VariableFont_wdth,wght.ttf
assets/fonts/SourGummy-Italic-VariableFont_wdth,wght.ttf.import
assets/fonts/SourGummy-VariableFont_wdth,wght.ttf
assets/fonts/SourGummy-VariableFont_wdth,wght.ttf.import
assets/fonts/static/SourGummy-Black.ttf
assets/fonts/static/SourGummy-Black.ttf.import
assets/fonts/static/SourGummy-BlackItalic.ttf
assets/fonts/static/SourGummy-BlackItalic.ttf.import
assets/fonts/static/SourGummy-Bold.ttf
assets/fonts/static/SourGummy-Bold.ttf.import
assets/fonts/static/SourGummy-BoldItalic.ttf
assets/fonts/static/SourGummy-BoldItalic.ttf.import
assets/fonts/static/SourGummy-ExtraBold.ttf
assets/fonts/static/SourGummy-ExtraBold.ttf.import
assets/fonts/static/SourGummy-ExtraBoldItalic.ttf
assets/fonts/static/SourGummy-ExtraBoldItalic.ttf.import
assets/fonts/static/SourGummy-ExtraLight.ttf
assets/fonts/static/SourGummy-ExtraLight.ttf.import
assets/fonts/static/SourGummy-ExtraLightItalic.ttf
assets/fonts/static/SourGummy-ExtraLightItalic.ttf.import
assets/fonts/static/SourGummy-Italic.ttf
assets/fonts/static/SourGummy-Italic.ttf.import
assets/fonts/static/SourGummy-Light.ttf
assets/fonts/static/SourGummy-Light.ttf.import
assets/fonts/static/SourGummy-LightItalic.ttf
assets/fonts/static/SourGummy-LightItalic.ttf.import
assets/fonts/static/SourGummy-Medium.ttf
assets/fonts/static/SourGummy-Medium.ttf.import
assets/fonts/static/SourGummy-MediumItalic.ttf
assets/fonts/static/SourGummy-MediumItalic.ttf.import
assets/fonts/static/SourGummy-Regular.ttf
assets/fonts/static/SourGummy-Regular.ttf.import
assets/fonts/static/SourGummy-SemiBold.ttf
assets/fonts/static/SourGummy-SemiBold.ttf.import
assets/fonts/static/SourGummy-SemiBoldItalic.ttf
assets/fonts/static/SourGummy-SemiBoldItalic.ttf.import
assets/fonts/static/SourGummy-Thin.ttf
assets/fonts/static/SourGummy-Thin.ttf.import
assets/fonts/static/SourGummy-ThinItalic.ttf
assets/fonts/static/SourGummy-ThinItalic.ttf.import
assets/fonts/static/SourGummy_Expanded-Black.ttf
assets/fonts/static/SourGummy_Expanded-Black.ttf.import
assets/fonts/static/SourGummy_Expanded-BlackItalic.ttf
assets/fonts/static/SourGummy_Expanded-BlackItalic.ttf.import
assets/fonts/static/SourGummy_Expanded-Bold.ttf
assets/fonts/static/SourGummy_Expanded-Bold.ttf.import
assets/fonts/static/SourGummy_Expanded-BoldItalic.ttf
assets/fonts/static/SourGummy_Expanded-BoldItalic.ttf.import
assets/fonts/static/SourGummy_Expanded-ExtraBold.ttf
assets/fonts/static/SourGummy_Expanded-ExtraBold.ttf.import
assets/fonts/static/SourGummy_Expanded-ExtraBoldItalic.ttf
assets/fonts/static/SourGummy_Expanded-ExtraBoldItalic.ttf.import
assets/fonts/static/SourGummy_Expanded-ExtraLight.ttf
assets/fonts/static/SourGummy_Expanded-ExtraLight.ttf.import
assets/fonts/static/SourGummy_Expanded-ExtraLightItalic.ttf
assets/fonts/static/SourGummy_Expanded-ExtraLightItalic.ttf.import
assets/fonts/static/SourGummy_Expanded-Italic.ttf
assets/fonts/static/SourGummy_Expanded-Italic.ttf.import
assets/fonts/static/SourGummy_Expanded-Light.ttf
assets/fonts/static/SourGummy_Expanded-Light.ttf.import
assets/fonts/static/SourGummy_Expanded-LightItalic.ttf
assets/fonts/static/SourGummy_Expanded-LightItalic.ttf.import
assets/fonts/static/SourGummy_Expanded-Medium.ttf
assets/fonts/static/SourGummy_Expanded-Medium.ttf.import
assets/fonts/static/SourGummy_Expanded-MediumItalic.ttf
assets/fonts/static/SourGummy_Expanded-MediumItalic.ttf.import
assets/fonts/static/SourGummy_Expanded-Regular.ttf
assets/fonts/static/SourGummy_Expanded-Regular.ttf.import
assets/fonts/static/SourGummy_Expanded-SemiBold.ttf
assets/fonts/static/SourGummy_Expanded-SemiBold.ttf.import
assets/fonts/static/SourGummy_Expanded-SemiBoldItalic.ttf
assets/fonts/static/SourGummy_Expanded-SemiBoldItalic.ttf.import
assets/fonts/static/SourGummy_Expanded-Thin.ttf
assets/fonts/static/SourGummy_Expanded-Thin.ttf.import
assets/fonts/static/SourGummy_Expanded-ThinItalic.ttf
assets/fonts/static/SourGummy_Expanded-ThinItalic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-Black.ttf
assets/fonts/static/SourGummy_SemiExpanded-Black.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-BlackItalic.ttf
assets/fonts/static/SourGummy_SemiExpanded-BlackItalic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-Bold.ttf
assets/fonts/static/SourGummy_SemiExpanded-Bold.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-BoldItalic.ttf
assets/fonts/static/SourGummy_SemiExpanded-BoldItalic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-ExtraBold.ttf
assets/fonts/static/SourGummy_SemiExpanded-ExtraBold.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-ExtraBoldItalic.ttf
assets/fonts/static/SourGummy_SemiExpanded-ExtraBoldItalic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-ExtraLight.ttf
assets/fonts/static/SourGummy_SemiExpanded-ExtraLight.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-ExtraLightItalic.ttf
assets/fonts/static/SourGummy_SemiExpanded-ExtraLightItalic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-Italic.ttf
assets/fonts/static/SourGummy_SemiExpanded-Italic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-Light.ttf
assets/fonts/static/SourGummy_SemiExpanded-Light.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-LightItalic.ttf
assets/fonts/static/SourGummy_SemiExpanded-LightItalic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-Medium.ttf
assets/fonts/static/SourGummy_SemiExpanded-Medium.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-MediumItalic.ttf
assets/fonts/static/SourGummy_SemiExpanded-MediumItalic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-Regular.ttf
assets/fonts/static/SourGummy_SemiExpanded-Regular.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-SemiBold.ttf
assets/fonts/static/SourGummy_SemiExpanded-SemiBold.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-SemiBoldItalic.ttf
assets/fonts/static/SourGummy_SemiExpanded-SemiBoldItalic.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-Thin.ttf
assets/fonts/static/SourGummy_SemiExpanded-Thin.ttf.import
assets/fonts/static/SourGummy_SemiExpanded-ThinItalic.ttf
assets/fonts/static/SourGummy_SemiExpanded-ThinItalic.ttf.import
